
<h2>Meet the animals</h2>
<div>
  <div class="card" *ngFor="let animal of childAnimals">
    <div class="card-header"><h5 class="card-title">{{animal.name | uppercase }}</h5></div>
      <div class="card-body">
        <p class="card-text">Location: {{animal.location}}<br>
        Species: {{animal.species}}<br>
        Age: {{animal.age}}<br>
        Diet: {{animal.diet}}<br>
        Caretakers needed: {{animal.caretakers}}<br>
        Sex: {{animal.sex}}<br>
        Likes: {{animal.likes}}<br>
        Dislikes: {{animal.dislikes}}</p>
      </div>
      <button type="button" class="btn btn-danger mb-1" (click)="editAnimal(animal)">Edit this animal's information</button>
  </div>
</div>
<div>
  <form class="center">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="selectedAnimal.name"/>
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="text" class="form-control" name="age" [(ngModel)]="selectedAnimal.age" />
    </div>
    <div class="form-group">
      <label>Caretakers:</label>
      <input type="text" class="form-control" name="caretakers" [(ngModel)]="selectedAnimal.caretakers" />
    </div>

    <button type='button' class="btn btn-primary" (click)="saveChanges()">
      Save
    </button>
    <!-- <button type='button' class="btn btn-primary" (click)="toggle()">
      Close
    </button> -->
  </form>
</div>
