
<h3>Animals in this zoo</h3>
<div>
  <div class="card" *ngFor="let animal of childAnimals | ageFilter:filter">
    <div class="card-header bg-info"><h5 class="card-title text-white">{{animal.name | uppercase }}</h5></div>
      <div class="card-body">
        <p class="card-text">Location: {{animal.location}}<br>
        Species: {{animal.species}}<br>
        Age: {{animal.age}}<br>
        Diet: {{animal.diet}}<br>
        Caretakers needed: {{animal.caretakers}}<br>
        Sex: {{animal.sex}}<br>
        Likes: {{animal.likes}}<br>
        Dislikes: {{animal.dislikes}}</p>
      </div>
      <button type="button" class="btn btn btn-outline-primary" (click)="editAnimal(animal)">Edit this animal's information</button>
  </div>
</div>
<div id="edit-info">
  <form>
    <h4 class="text-center">Edit animal's information</h4>
    <div class="form-group">
      <label>Update name:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="selectedAnimal.name" />
    </div>
    <div class="form-group">
      <label>Update age:</label>
      <input type="text" class="form-control" name="age" [(ngModel)]="selectedAnimal.age" />
    </div>
    <div class="form-group">
      <label>Update caretakers:</label>
      <input type="text" class="form-control" name="caretakers" [(ngModel)]="selectedAnimal.caretakers" />
    </div>

    <button type='button' class="btn btn-primary" (click)="saveChanges()">
      Save
    </button>
  </form>
</div>
